<section data-ng-controller="HomeController">

  <ul class="grid cs-style-2">
    <li>
      <figure>
        <img src="http://placekitten.com/g/400/300" alt="kitten">
        <figcaption>
          <h3>Captain Furball</h3>
          <span>Cute little fuzzball with a whole lotta spunk and heart.</span>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img src="http://placekitten.com/g/400/300" alt="kitten">
        <figcaption>
          <h3>Admiral Crookshanks</h3>
          <span>Sail the high seas with the Admiral, also knows as El Capitan.</span>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img src="http://placekitten.com/g/400/300" alt="kitten">
        <figcaption>
          <h3>Doogie Mouser</h3>
          <span>Currently working towards an MBA, with an emphasis in fantasy football.</span>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img src="http://placekitten.com/g/400/300" alt="kitten">
        <figcaption>
          <h3>Augusted Rockwood</h3>
          <span>Will show ankle for five minutes of wireless.</span>
        </figcaption>
      </figure>
    </li>
  </ul>

</section>

