<section data-ng-controller="HomeController">

  <h1 class="home title">about</h1>

  <p class="title about-blurb">
    Kitty ipsum dolor sit amet, sollicitudin sleep in the sink quis nunc give
    me fish, nunc cras nec suspendisse rhoncus fluffy fur elit puking jump.
    Claw quis elit rip the couch, sleep in the sink faucibus judging you ac
    scratched faucibus fluffy fur cras nec. Libero chuf aliquam vehicula
    kittens, sleep in the sink leap chuf leap iaculis tortor zzz. Libero puking
    catnip iaculis lick justo, jump aliquam litter box enim ut vestibulum.
    Pharetra jump on the table nullam suspendisse, purr chuf suspendisse puking
    chase the red dot non. Bat egestas stuck in a tree rhoncus vehicula, climb
    the curtains suscipit hiss hairball enim ut stretching. Chuf claw enim
    biting, neque vestibulum suspendisse bat fluffy fur aliquam sniff.
  </p>

  <ul class="grid cs-style-4">
    <li>
      <figure>
        <div><img src="http://lorempixel.com/400/300/cats/1" alt="kitten"></div>
        <figcaption>
          <h3>Captain Furball</h3>
          <span>Cute little fuzzball with a whole lotta spunk and heart. Making the snuggie look good since 2009.</span>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <div><img src="http://lorempixel.com/400/300/cats/2" alt="kitten"></div>
        <figcaption>
          <h3>Admiral Crookshanks</h3>
          <span>Sail the high seas with the Admiral, also knows as El Capitan. Born at a very younge age. Papercut survivor.</span>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <div><img src="http://lorempixel.com/400/300/cats/3" alt="kitten"></div>
        <figcaption>
          <h3>Doogie Mouser</h3>
          <span>Currently working towards an MBA, with an emphasis in fantasy football. Insert pretentious information about myself here.</span>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <div><img src="http://lorempixel.com/400/300/cats/4" alt="kitten"></div>
        <figcaption>
          <h3>Augustus Rockwood</h3>
          <span>Will show ankle for five minutes of wireless. Really bad at sarcasm. Living one day at a time, with a fresh baked cookie. And a coffee. And maybe some chocolate.</span>
        </figcaption>
      </figure>
    </li>
  </ul>

</section>

