<section data-ng-controller="HomeController">
  <section class="home full-height col-md-6">
    <h1 class="home title">Design Circle</h1>
  </section>
  <section class="home full-height col-md-6">
    <section class="home link-container-container">
      <div class="home link-container">
        <a class="home link" href="#"><div class="home link-box">About</div></a>
      </div>
      <div class="home link-container">
        <a class="home link" href="#"><div class="home link-box">Blog</div></a>
      </div>
      <div class="home link-container">
        <a class="home link" href="#"><div class="home link-box">Events</div></a>
      </div>
    </section>
  </section>
</section>
