<section data-ng-controller="HomeController">
  <section class="home vert-centered">
    <h1 class="home title">Design Circle</h1>
    <section class="home link-container">
      <ul class="home link-list">
        <li>
          <a class="home link" href="#!/about">
            <div class="home link-box">About</div>
          </a>
        </li>
        <li>
          <a class="home link" href="#!/blog">
            <div class="home link-box">Blog</div>
          </a>
        </li>
        <li>
          <a class="home link" href="/events">
            <div class="home link-box">Events</div>
          </a>
        </li>
      </ul>
    </section>
  </section>
</section>
<section data-ng-controller="EventsController" data-ng-init="find()">
  <h1>Events</h1>
  <section data-ng-repeat="event in events" class="list-events">
    <div data-ng-bind="event.name"></div>
  </section>
</section>
