body {
  background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #485563 10%, #29323c 90%); /* W3C */
}

/* Full height */
.container, .ng-scope, .home.full-height {
  height: 100%;
}

/* Vertically centered */
.home.title, .home.link-container-container {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.home.title {
  color: #EEE;
  font-size: 10em;
  font-weight: lighter;
  text-align: center;
}

.home.link-container {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.home.link-box {
  margin-top: 15px;
  height: 150px;
  width: 150px;
  line-height: 150px;

  border-radius: 50%;
  border: 3px solid #EEE;

  background: #75af41;

  text-align: center;
  font-size: 2em;
  color: #EEE;
  text-decoration: none;
}

.home.link-box:hover {
  transition: background-color 0.5s ease;
  transition: border 0.5s ease;
  transition: color 0.5s ease;
  background-color: #EEE;
  color: #75AF41;
  border: 3px solid #75AF41;
}

.home.link {
  text-decoration: none;
}

.content {
	/* margin-top: 50px; */
  height: 100vh;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
