@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,300);

 body {
  background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #485563 10%, #29323c 90%); /* W3C */

  font-family: Raleway, Helvetica, Arial, sans-serif;
}
 
.page-title {
  
  color: #EEE;
  font-size: 10em;
  font-weight: lighter;
  text-align: center;
}

.list-group-item {
  background-color: #75AF41;
}

.list-group-item-text {
  
}

.list-group-item-heading {
  
}

.alert.alert-warning.text-center {
  
}

.fc-state-highlight {
	background-color: #75AF41 !important;
}

.fc-event {
	background-color: #75AF41 !important;
	border-color: #75AF41 !important;
}

section {
	color: #fff
}
